:root {
  /* font-family: 'Open Sans', sans-serif; */
  /* Fonts */
  --ff-primary: 'Open Sans', sans-serif;
  --fs-400: 1.125rem;
  --fs-500: 1.5rem;
  --fs-700: 3rem;
  /* Colors */
  --clr-green: #226f54;
  --clr-light-green: #87c38f;
  --clr-red: #da2c38;
  --clr-beige: #f4f0bb;
  --clr-brown: #43291f;
  --clr-white: #fff;
  --clr-rich-black: #252422;

}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

html, body {
  height: 100%;
}

/* General Styles */
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  line-height: 1.6;
  background: var(--clr-beige);
  color: var(--clr-rich-black);
  text-align: center;
  background-image: url('./assets/xmasBG.png');
  background-size: cover;
  background-repeat: no-repeat;

}

.container {
  padding: 1.5em;
  max-width: 600px;
  margin-inline: auto;
  border-radius: 5px;
  background: var(--clr-beige);
}

header {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header img {
  width: 3rem;
  height: 3rem;
}

h1 {
  font-size: var(--fs-700);
  font-weight: 400;
}

/* Form styles */
.form-control {
  display: flex;
  padding: 0 1rem;
}

.input-container {
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
}

.input-container label {
  font-weight: 500;
  color: var(--clr-brown);
}

.item-input {
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 0.75rem;
  border: 1px solid var(--clr-green);
  border-radius: 5px;
  outline: none;
}

.btn {
  border: none;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.5em 1em;
  min-width: 10ch;
  min-height: 44px;
  transition: 200ms all ease-in-out;
}

.btn-add {
  background-color: var(--clr-green);
}

.btn-add:hover,
.btn-add:focus {
  color: var(--clr-rich-black);
  background-color: var(--clr-light-green);
}

.btn-clear {
  background-color: var(--clr-red);
}

.wishlist {
  margin-top: 1.25rem;
  list-style: none;
  padding: 1.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.wishlist li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  font-weight: 500;
  background-color: var(--clr-light-green);
}

.wishlist button {
  background-color: transparent;
  padding: 0.25rem;
  border: none;
  color: var(--clr-red);
}

.wishlist button:hover {
  cursor: pointer;
}